.mynav {
  background-color: black;
}

.navbar-brand, .nav-link {
  color: white !important;
}

body {
    background-color: black !important;
    font-family: 'Black Ops One', cursive !important;
}


.about-us-text {
  background-color: black;
  text-align: center;
  justify-content: center;
  padding: 5% 10%;
}

#heading {
  background-color: black;
  text-align: center;
}

h1 {
  color: white !important;
  margin: 0% 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 4rem !important;
  font-weight: bolder;
}

h3 {
  padding: 5% 5%;
  color: rgb(197, 197, 197) !important;
}

.fa-gun, .fa-money-bill, .fa-truck-fast {
  color: white;
  font-size: 4rem;
}

.navbar-brand {
  font-weight: 500;
  padding-top: 2%;
  padding-left: 2%;
}

.container.price {
  text-align: center;
}

#prices {
  text-align: center;
}

.btn-dark {
  margin: 2% !important;
}

.card {
  margin: 4%
}

.gif {
  margin: 2%;
  border-radius: 2%;
}

.shotty-img {
margin: auto;
}

.footer-img {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

hr {
  color: red !important;
  height: 3px;
  border-radius: 50%;
}

.col {
  text-align: center !important;
}


#footer {
  background-color: red;
  text-align: center;
  height: 15%;
  color: white;
}

.footer-container {
  margin-bottom: 0 !important; 
  padding-top: 5%;
}

h2 {
  padding-bottom: 2%;
}

.footer-container p {
  margin-bottom: 0;
  padding-bottom: 4%;
}

.fa-discord {
  font-size: 2rem;
  padding-bottom: 7%;
}

#footer a {
  color: white;
  transition: color .5s;
}

#footer a:hover {
  color: lightgray;
}